.wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;
    padding: 0 45px 25px 45px;
    width: calc(100vw - 10px);
    height: 100%;
    grid-gap: 10px;
}