.wrapper {
    width: 50vw;
    height: 20vh;
    overflow-y: scroll;
    border: solid 2px;
}

.wrapper::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}