.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url("../../assets/navbarBkg.svg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 10% 0;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url("../../assets/logo.svg") no-repeat center;
    background-size: 20%;
}

.nav {
    display: grid;
    grid-template: 100% / 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    height: 100%;
}

.nav > * {
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.link {
    text-decoration: none;
    color: #000;
    border-bottom: solid 4px transparent;
    border-top: solid 4px transparent;
    transition: .3s;
}

.link.active {
    border-bottom-color: #14CD6C;
}

.cabinet {
    background: transparent;
    transition: .2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
}