.row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 16px;
    border: solid 2px transparent;
    transition: .2s;
    cursor: pointer;
}

.row:nth-child(2n + 1) {
    background: #FAFEFF;
}

.row:nth-child(2n) {
    background: #D7E1E3;
}

.row:hover {
    border-color: #1FB7F6;
}

.rowItem {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}