.row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.rowItem {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}